# Bu namuna. Serverda ".env" nomi bilan nusxa oling va qiymatlarni to'ldiring.
# cp .env.example .env

SECRET_KEY=bu-yerga-uzun-maxfiy-kalit-yozing
DEBUG=False
ALLOWED_HOSTS=duoo.uz,www.duoo.uz,189.74.96.246

# PostgreSQL
USE_POSTGRES=True
DB_NAME=godostavka
DB_USER=godostavka_user
DB_PASSWORD=Duoo2026market
DB_HOST=localhost
DB_PORT=5432

# CORS (mobil ilova uchun hozircha ochiq)
CORS_ALLOW_ALL=True

# HTTPS domenlar
CSRF_TRUSTED_ORIGINS=https://duoo.uz,https://www.duoo.uz
