# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Muhit o'zgaruvchilari (xavfsizlik)
.env
.env.local

# IDE va Muharrirlar
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test va qamrov (Coverage)
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# OS
.DS_Store
Thumbs.db